networks:
  mybridge:
    name: mybridge
    driver: bridge

services:
  dovecot-test:
    image: dovecot/dovecot:2.4.2-dev
    container_name: dovecot-test
    networks:
    - mybridge
    command:
      - /usr/bin/tail
      - -f
      - /dev/null
    volumes:
      - ./hack/imap-scripts:/opt/imap-scripts
      - ./hack/mbox:/opt/mbox

  dovecot-a:
    image: dovecot/dovecot:2.4.2-dev
    container_name: dovecot-a
    networks:
    - mybridge
    extra_hosts:
      - "host.docker.internal:host-gateway"
      - "myhost:172.17.0.1"
    ports:
      - name: imap
        protocol: tcp
        published: 8143
        target: 31143
      - name: lmtp
        protocol: tcp
        published: 30024
        target: 30024
      - name: doveadm
        protocol: tcp
        published: 30345
        target: 12345
      - name: doveadm-http
        protocol: tcp
        published: 30080
        target: 8080
    volumes:
      - ./hack/dovecot-a.conf:/etc/dovecot/conf.d/dovecot-a.conf:ro
      - ./hack/dovecot-shared.conf:/etc/dovecot/conf.d/dovecot-shared.conf:ro
      - ./hack/passwd-file:/etc/dovecot/passwd-file:ro

  dovecot-b:
    image: dovecot/dovecot:2.4.2-dev
    networks:
    - mybridge
    container_name: dovecot-b
    extra_hosts:
      - "host.docker.internal:host-gateway"
    ports:
      - name: imap
        protocol: tcp
        published: 9143
        target: 31143
      - name: doveadm
        protocol: tcp
        published: 31345
        target: 12345
      - name: doveadm-http
        protocol: tcp
        published: 31080
        target: 8080
    volumes:
      - ./hack/dovecot-b.conf:/etc/dovecot/conf.d/dovecot-b.conf:ro
      - ./hack/dovecot-shared.conf:/etc/dovecot/conf.d/dovecot-shared.conf:ro
      - ./hack/passwd-file:/etc/dovecot/passwd-file:ro

  dovewarden:
    image: ghcr.io/dovewarden/dovewarden:latest
    build:
      dockerfile: Dockerfile
      context: .
    networks:
    - mybridge
    extra_hosts:
    - "host.docker.internal:host-gateway"
    container_name: dovewarden
    ports:
    - name: events
      protocol: tcp
      published: 8080
      target: 8080
    - name: metrics
      protocol: tcp
      published: 9090
      target: 9090
    environment:
    - DOVEWARDEN_DOVEADM_DEST=tcp:host.docker.internal:31345
    - DOVEWARDEN_DOVEADM_PASSWORD=doveadm
    - DOVEWARDEN_DOVEADM_URL=http://host.docker.internal:30080
    - DOVEWARDEN_DOVEADM_USER=doveadm

  redis:
    image: redis:7-alpine
    container_name: dovewarden-redis
    ports:
      - "6379:6379"
    profiles:
      - external-redis
    command: redis-server --appendonly yes
