services:
  dovecot-test:
    image: dovecot/dovecot:2.4.2-dev
    container_name: dovecot-test
    command:
      - /usr/bin/tail
      - -f
      - /dev/null
    volumes:
      - ./hack/imap-scripts:/opt/imap-scripts
      - ./hack/mbox:/opt/mbox

  dovecot-a:
    image: dovecot/dovecot:2.4.2-dev
    container_name: dovecot-a
    ports:
      - name: imap
        protocol: tcp
        published: 8143
        target: 31143
      - name: lmtp
        protocol: tcp
        published: 30024
        target: 30024
    volumes:
      - ./hack/dovecot-a.conf:/etc/dovecot/conf.d/dovecot-a.conf:ro
      - ./hack/dovecot-shared.conf:/etc/dovecot/conf.d/dovecot-shared.conf:ro

  dovecot-b:
    image: dovecot/dovecot:2.4.2-dev
    container_name: dovecot-b
    ports:
      - name: imap
        protocol: tcp
        published: 9143
        target: 31143
    volumes:
      - ./hack/dovecot-b.conf:/etc/dovecot/conf.d/dovecot-b.conf:ro
      - ./hack/dovecot-shared.conf:/etc/dovecot/conf.d/dovecot-shared.conf:ro

  redis:
    image: redis:7-alpine
    container_name: lightfeather-redis
    ports:
      - "6379:6379"
    profiles:
      - external-redis
    command: redis-server --appendonly yes
