apiVersion: v1
kind: Service
metadata:
  name: {{ include "dovewarden.fullname" . }}
  labels:
    {{- include "dovewarden.labels" . | nindent 4 }}
    app.kubernetes.io/component: event-handler
  {{- with .Values.service.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: http
      protocol: TCP
      name: http
  selector:
    {{- include "dovewarden.selectorLabels" . | nindent 4 }}
